my_dir="$(dirname "$0")"
. "$(dirname "${my_dir}")/profile.config"
. "$(dirname "${my_dir}")/clients.config"

REPO_NAME="github.com/xwikisas/xwiki-platform.git"
UPSTREAM="https://github.com/xwiki/xwiki-platform.git"
GIT_DIR="${PWD}/repos"
BUILDS="${PWD}/builds"
CLONE_FOLDER="$GIT_DIR/xwiki-platform"
