XVERSION="12.10.8"
BRANCH="client branch"

declare -a MODULES_TO_BUILD=(
    "xwiki-platform/xwiki-platform-core/xwiki-platform-eventstream/xwiki-platform-eventstream-stores/xwiki-platform-eventstream-store-hibernate"
)

declare -a COMMITS_TO_CHERRYPICK=(
    "de753e6bb2de68f4dff797d15759f496425e8629"
    "a25f1f364a73d1a18478bae69261ade9eafd8cc5"
)
